.body-swb {
    background: url("/assets/img/NTL-background.png") no-repeat fixed;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.album-description{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
  
  @keyframes display {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(-50px);
      opacity: 0;
    }
  }
  
  
  .review-ctn > div {
    position:absolute;
    opacity: 0;
    animation: display 20s infinite;
    margin-top: 0;
  }
  
  div:nth-child(2) {
    animation-delay: 5s;
  }
  div:nth-child(3) {
    animation-delay: 10s;
  }
  div:nth-child(4) {
    animation-delay: 15s;
  }

/*aaaaaaaaaaaaa grid*/
.swb-out-grid{
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.8fr);
  grid-template-areas:
  ". carousel ."
  "pic review ."
  ;
  }

  .swb-img{
    margin-top: 5%;
    grid-area: review;
  }

  .swb-spotify{
    margin-top: 5%;
    grid-area: pic;
  }

  .review-ctn .pic{
    width: 80%;
    justify-content: center;
    justify-self: center;
    margin-left: 5%;
    margin-top: 5%;
    font-size: x-large;
    grid-area: carousel;
  }