.body-swb {
    background: url("/assets/img/NTL-background.png") no-repeat fixed;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-swb{
    position: absolute;
    margin: 0;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 63, 163);
    background: rgba(0,0,0,0.5);
    font-size: xx-large;
    
}

.album-description{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
  
  @keyframes display {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(-50px);
      opacity: 0;
    }
  }
  
  
  .review-ctn > div {
    position: absolute;
    opacity: 0;
    animation: display 20s infinite;
  }
  
  div:nth-child(2) {
    animation-delay: 5s;
  }
  div:nth-child(3) {
    animation-delay: 10s;
  }
  div:nth-child(4) {
    animation-delay: 15s;
  }

/*aaaaaaaaaaaaa grid*/
.swb-out-grid{
  margin-top: 5%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "review review review"
  "pic review spotify"
  ;
  background-blend-mode: color-burn;
  overflow: hidden;
  }

  .review-ctn{
    margin-top: 5%;
    grid-area: spotify;
    font-size: large;
    
  }

  .swb-img{
    margin-top: 5%;
    grid-area: review;
  }

  .swb-spotify{
    margin-top: 5%;
    grid-area: pic;
  }
